.center-time {
  font-family: helvetica, sans-serif;
  font-weight: bold;
  fill: rgba(112,158,192, 1);
  stroke: rgb(102,102,102, 0.75);
  stroke-width: 2px;
}

.arc-path, .dest-path {
  stroke: rgba(153, 153, 153, 0.10);
  stroke-width: 2px;
  cursor: pointer;
}